{% extends "base.html"%}

{%block title%}
    Customers
{%endblock %}
{%block content%}
 {% verbatim %}
    <h1>Customers by Angular</h1>
    <div ng-controller="CustomersController">
        <ul>
            <div ng-repeat="customer in customers">
                <li> {{ customer.customer_name }} </li>
            </div>
        </ul>
        <input type="text" ng-model="new_customer" />
        <button ng-click="add_new_customer(new_customer, customers)">Add</button>
    </div>
    {% endverbatim %}

<h1>Customers by django</h1>
    <h2>This will list all customers</h2>
    <ol>
        <h4>Customers                   ---    mobile</h4>
    {% for customer in customers %}
        <li> {{ customer.customer_name }} ---  {{ customer.customer_phone }} </li>
    {% endfor %}
    </ol>
{%endblock %}